/* Alignment styles for images, videos and iframes in editable regions */

/* Center (default) */
[data-editable] iframe,
[data-editable] image,
[data-editable] [data-ce-tag=img],
[data-editable] img,
[data-editable] video {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*max-width: 100%;*/
}

/* Left align */
[data-editable] .align-left {
    clear: initial;
    float: left;
    margin-right: 0.5em;
}

/* Right align */
[data-editable].align-right {
    clear: initial;
    float: right;
    margin-left: 0.5em;
}

/* Alignment styles for text in editable regions */
[data-editable] .text-center {
    text-align: center;
}

[data-editable] .text-left {
    text-align: left;
}

[data-editable] .text-right {
    text-align: right;
}

/* Overrides */
.ct-app .ct-widget.ct-ignition {
  position: fixed;
  left: 16px;
  bottom: 90px;
  top: unset;
}

.ct-ignition__button {
  box-shadow:
    0 0.8px 2.2px rgba(0, 0, 0, 0.032),
    0 2px 5.3px rgba(0, 0, 0, 0.049),
    0 3.8px 10px rgba(0, 0, 0, 0.06),
    0 6.7px 17.9px rgba(0, 0, 0, 0.067),
    0 12.5px 33.4px rgba(0, 0, 0, 0.071),
    0 30px 80px rgba(0, 0, 0, 0.07)
  ;
}

.ce-element--focused {
  background-color: rgba(243,156,18,.3);
}

.github-fork-ribbon::before {
  background-color: var(--teal);
}

.font-bold {
  font-family: muli,sans-serif;
  font-weight: 700;
  font-style: normal;
}


h1 {
  font-size: 2em;
  font-weight: 800;
}

.outline {
  /* TODO refactor parts into border and fonts*/
  border-radius: 4px;
  border: solid 1px var(--blue);

  color: var(--blue);

  font-size: .8em;
  font-family: var(--font-family-sans-serif);
  font-weight: 200;
  font-style: normal;
  background-color: unset;
}

body {
  font-size: 16pt;
  font-family: var(--font-family-sans-serif);
  font-weight: 200;
  font-style: normal;
  padding: 0;
  margin: 0;
}

nav {
  color: white;
  height: 6em;
  display: flex;
  flex-direction: row;
}

nav span {
  padding: 1.4em;
}

nav a {
  color: inherit;
  text-decoration: inherit;
  padding: 1.4em;
}

nav button {
  height: 2.4em;
  margin-left: auto;
  margin-right: 5em;
  margin-top: .8em;
  padding: .2em 1.2em 0 1.2em;
}

main {
  color: white;
}

section {
  padding: 2em 4em 2em 4em;
}

main::before {
  content: "";
  position: absolute;
  height: 34em;
  width: 70%;
  background: var(--blue);
  top: 0;
  left: 0;
  z-index: -1;
}

section.hero-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

section img {
}

section.hero-text {
}

section.hero-image {
}

section.simple-text {
  color: var(--gray-dark);
}

.subtitle {
  font-size: .8em;
  font-weight: 800;
  color: var(--blue);
  display: flex;
  align-items: center;
}

.subtitle svg {
  padding-right: .5em;
}

section.simple-text p {
  color: var(--secondary);
}

section.logos {
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

section.logos svg {
  padding: 0 2em 0 2em;
}

section.articles ul {
  list-style-type: none;
  color: var(--secondary);
}

section.articles li {
  padding: .4em 0 .4em 0;
}

section.articles a {
  color: inherit;
  text-decoration: inherit;
}

section.articles span {
  color: var(--blue);
  font-weight: 800;
}
